* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

.black {
    background-color: black;
    height: 50px;
}

.sony_logo img {
    height: 20px;
}

/* fine header  */

.jumbo {
   width: 100%;
   position: relative;
}

.jumbo #img-bg-jumbo {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.jumbo-text {
    width: 70%; 
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: rgb(255, 255, 255);
}

.jumbo-text img {
    width: 300px;
}

.oran {
    background-color: rgb(251, 38, 0);
    border-radius: 50px;
    border-color: rgb(251, 38, 0);
}

/* <!-- star table  --> */

.contain {
    width: 90%;
    margin: 0 auto;
}

.start-table img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.tex-deco {
    text-decoration: none;
}

/* <!-- star table  --> */

/* info  */

.info_ps5 img {
    width: 100%;
}

.trasp {
    opacity: 0.5;
}

.box_info:hover img {
    opacity: 1;
    border-bottom:1px solid rgb(79, 79, 246);
}

/* info  */

.jumbo-2{
    width: 100%;
    position: relative;
 }
 
 .jumbo-2 #img-bg-jumbo {
     width: 100%;
     height: 600px;
     object-fit: cover;
 }
 
 .jumbo-text-2 {
     width: 70%; 
     position: absolute;
     bottom: 10%;
     left: 5%;
     color: rgb(255, 255, 255);
 }
 
 .jumbo-text-2 img {
     width: 300px;
 }

 .contain-2 {
    width: 100%;
    
}

 .black {
     background-color:black;
 }


